Repository VictorAZ12/web-request-forum, pull requests merged in 2024-05, with the labels that each got.

#22 Database creation and seperated file management
  .gitignore
  backend/README.md
  backend/app.py
  backend/app/__init__.py
  backend/app/forms.py
  backend/app/models.py
  backend/app/routes.py
  backend/config.py
  backend/database-erd.drawio
Labels: New feature, backend

#34 user register/login/logout integration
  backend/README.md
  backend/app/__init__.py
  backend/app/forms.py
  backend/app/routes.py
  backend/app/static/HabitNest.css
  backend/app/static/HabitNest.js
  backend/app/templates/HabitNest.html
  backend/app/templates/register.html
  backend/requirements.txt
Labels: backend, frontend, integration

#50 Added a few endpoints and forms for dashboard
  backend/app/forms.py
  backend/app/routes.py
Labels: backend

#55 Register and Login form response #54 #41 #36
  backend/app/forms.py
  backend/app/routes.py
  backend/app/static/HabitNest.js
  backend/app/templates/HabitNest.html
Labels: backend, frontend, integration, Enhancement

#57 Updated HTML structure and CSS style for homepage
  backend/app/static/CSS/HabitNest.css
  backend/app/templates/HabitNest.html
Labels: New feature, frontend

#59 Habit integration
  backend/app/forms.py
  backend/app/models.py
  backend/app/routes.py
  backend/app/static/Javascript/challenge-script.js
  backend/app/static/Javascript/script.js
  backend/app/templates/Dashboard.html
Labels: backend, frontend, integration

#60 Challenge habit model update
  backend/app/forms.py
  backend/app/models.py
  backend/app/routes.py
  backend/app/static/Javascript/challenge-script.js
  backend/app/static/Javascript/script.js
  backend/app/templates/Dashboard.html
  backend/database-erd.drawio
Labels: backend, frontend, integration

#61 Various improvments on dashboard
  backend/app/routes.py
  backend/app/static/Javascript/challenge-script.js
  backend/app/static/Javascript/script.js
  backend/app/static/Javascript/settings-script.js
  backend/app/templates/Dashboard.html
  backend/app/templates/login.html
  backend/app/templates/register.html
  backend/app/templates/settings.html
Labels: backend, frontend, integration

#62 Dashboard integration habit/challenge update
  backend/app/forms.py
  backend/app/models.py
  backend/app/routes.py
  backend/app/static/CSS/HabitNest.css
  backend/app/static/CSS/style.css
  backend/app/static/Javascript/HabitNest.js
  backend/app/static/Javascript/challenge-script.js
  backend/app/static/Javascript/script.js
  backend/app/static/script.js
  backend/app/static/settings-script.js
  backend/app/templates/Dashboard.html
  backend/app/templates/HabitNest.html
  backend/app/templates/login.html
  backend/app/templates/register.html
  backend/app/templates/settings.html
  backend/database-erd.drawio
Labels: backend, frontend, integration, Enhancement

#70 Challenge update
  backend/app/routes.py
  backend/app/static/CSS/style.css
  backend/app/static/Javascript/challenge-script.js
  backend/app/static/Javascript/script.js
  backend/app/templates/Dashboard.html
Labels: New feature, backend, frontend, integration

#71 Bugfix progress
  backend/app/routes.py
  backend/app/static/Javascript/script.js
  backend/app/templates/Dashboard.html
Labels: backend, frontend, integration
